body{
    margin: 0;
    background-color: #f5f5f5;
    font-family: 'Titillium Web', sans-serif;
    padding-top: 125px;
    padding-bottom: 25px;
}

ul{
    margin: 0;
    padding: 0;
    list-style-type:none;
}

a{
    text-decoration: none;
    color: inherit;
}

h2{
    margin: 0;
}

table{
    border-spacing: 0;
}

.navbar{
    height: 100px;
    width: 100%;
    background-color: #364f6b;
    position: fixed;
    top: 0%;
}

.home-link{
    margin: 10px 10px;
    border-radius: 40px;
    overflow: hidden;
    float: left;
}

.home-link-div{
    background-size: contain;
    background-image: url(logo-mini.jpg);
    height: 80px;
    width: 80px;
}

.sidebar{
    padding: 10px;
    background-color: #364f6b;
    border-radius: 0 14px 14px 0;
    display: inline-block;
    height: 222px;
    position: fixed;
    top: 20%;
    left: 0%;
}

.sidebar-link{
    padding: 7px 14px;
    background-color: #f5f5f5;
    border-radius: 7px;
    color: inherit;
    text-decoration: none;
    font-size: 1.2rem;
    margin: 10px 0px;
    display: block;
    width: 120px;
    display: none;
    border: solid 1px #f5f5f5;
    text-align: center;
}

.sidebar-link:hover{
    background-color: #364f6b;
    color: #f5f5f5;
}

.sidebar:hover .sidebar-link{
    display: block;
}

.content{
    width: 70%;
    border: 1px solid #364f6b;
    margin: 0 auto;
    min-width: 360px;
    padding: 20px;
}

.content-img{
    width: 30%;
    margin: 0 auto;
    display: block;
    min-width: 250px;
}

.content-inner-box{
    width: 80%;
    padding: 20px;
    background-color: #364f6b;
    margin: 20px auto;
    min-width: 300px;
    text-align: center;
}

.content-inner-box a{
    color: #f5f5f5;
    display: inline-block;
}

.content-inner-box p{
    color: #f5f5f5;
    text-align: center;
}

.inner-box-tbl{
    border-spacing: 0;
    margin: 0 auto;
}

.inner-box-tbl th{
    padding: 7px 14px;
    background-color: #f5f5f5;
    border: solid 1px #000000;
}

.inner-box-tbl td{
    padding: 7px 14px;
    background-color: #f5f5f5;
    border: solid 1px #000000;
    border-top: none;
}

.log{
    width: 60%;
    border: 1px solid #000000;
    margin: 25px auto;
    min-width: 360px;
}

.log h1{
    text-align: center;
}

.log p{
    margin: 20px;
    text-align: justify;
}

.log img{
    width: 60%;
    min-width: 300px;
    margin: 25px auto;
    display: block;
}

.author-date{
    background-color: #f5f5f5;
    border-top: #364f6b 1px solid;
    width: 100%;
    text-align: center;
}

.author{
    border-right: #364f6b 1px solid;
    padding: 5px 5px;
}
.date{
    padding: 5px 5px;
}

.resources{
    background-color: #364f6b;
    border-top: 1px solid #000000;
    overflow-x: scroll;
}

.resources table{
    border-spacing: 0;
}

.resources th{
    padding: 7px 14px;
    background-color: #364f6b;
    color: #f5f5f5;
    border-right: solid 1px #000000;
}

.resources td{
    padding: 7px 14px;
    background-color: #364f6b;
    color: #f5f5f5;
    border-right: solid 1px #000000;
}

.resources td:hover{
    background-color: #f5f5f5;
    color: #364f6b;
}


#hall{
    width: 300px;
    height: 450px;
    margin: 0 auto;
    border: #364f6b solid 1px;
}

.hall-of-fame{
    width: 300px;
    height: 300px;
    background-size: cover;
}

#hall-member-tag{
    height: 75px;
    background-color: #364f6b;
    text-align: center;
    color: #f5f5f5;
}

.hall-btn{
    height: 40px;
    margin-top: 100px;
    font-size: 40px;
    border: none;
    background: none;
    color: #364f6b8a;
}

.hall-btn:hover{
    color: #364f6b;
}

.hall-header{
    height: 75px;
    background-color: #364f6b;
    text-align: center;
    color: #f5f5f5;
}

.download-box{
    margin: 25px auto;
    width: 25%;
    min-width: 250px;
    background-color: #364f6b;
    min-height: 250px;
    text-align: center;
    padding: 15px;
    color: #f5f5f5;
}

.download-box img{
    width: 50%;
    margin: 2% auto;
    border-radius: 50%;
}

.input-box{
    width: 20%;
    min-width: 300px;
    margin: 0 auto;
    background-color: #364f6b;
    padding: 2vw;
    border-radius: 1vw;
}

.input-box input{
    width: 80%;
    height: calc(14px + 2vw);
    font-size:calc(10px + 1.5vw);
    margin: 0.5vw auto;
    display: block;
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 5px;
}

.input-box button{
    font-size: calc(10px + 1.5vw);
    margin: 1vw auto;
    display: block;
    border-radius: 1vw;
    padding: 1vw 1.5vw;
    background-color: #f5f5f5;
}

#delay{
    text-align: center;
    width: 20%;
    min-width: 300px;
    margin: 0 auto;
    border-radius: 25px;
    background-color: #364f6b;
}

#delay h1{
    padding: 2vw;
    color: #f5f5f5;
}